/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:	medianXL		
	Original author: Marco Paulucci
    --------------------------------------------------------------
*/

/*
	Common
	--------------------------------------------------------------
	*/

/* CSS Reset http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Markup Styles
---------------------------------------- */
html {
	font-size: 100%;
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 101%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Helvetica, Arial, sans-serif;
	/*font-size: 62.5%;			 This sets the default font size to be equivalent to 10px */
	font-size: 10px;
	line-height: normal;
	margin: 0;
	/*padding: 12px 0;*/
	word-wrap: break-word;
	min-width: 550px;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Bree Serif", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 2.5em;
	margin: 0.8em 0 0.2em 0;
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	margin-top: 20px;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	/* Also see tweaks.css */
	border: 0 solid transparent;
	border-top-width: 1px;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top-style: dashed;
	margin: 10px 0;
}

hr.divider {
	border-top-color: #C5C5CD;
	border-style: dashed;
}

p.right {
	text-align: right;
}

p.jumpbox-return {
	margin-top: 1em;
	float: left;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	display: list-item;
}

ul ul, ol ul {
	list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
	list-style-type: square;
}



/* 
Header Specific CSS 
------------------------------------------------------------------
*/
@font-face {
    font-family: 'Exocet';
    src: url("/src/Exocet.ttf");
}

@font-face {
    font-family: 'Formal 436';
    src: url("/src/formal-436-bt.ttf");
}

#h-header {
	background-image: url("/src/img/_header.jpg");
	background-position-x: 50%;
	background-position-y: 100%;
    background-size: cover;
    height: 100px;
	color: #FFFFFF;
	font-family: Calibri, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

#h-header h1 {
	display: none;
}

#h-inner {
	float: left;
	width: 100%;
}

#h-logo {
	position: absolute;
	left: 9%;
	top: 18px;
	background: url("/src/img/_logo.png"); /*background: url('../../../src/img/logo.png'); */
	width: 184px;
	height: 40px;
}

#h-menu {
	background: rgba(0, 0, 0, 0.4);
	width: 86%;
	height: 30px;
	margin-top: 70px;
	padding: 0 7%;
}

#h-menu > ul {
	display: table;
	list-style-type: none;	
	text-align: center;
}

#h-menu > ul > li {
	display: table-cell;
	line-height: 30px;
	padding: 0 12px;
	float: left;
}

#h-menu > ul > li > a {
	display: block;
	width: 100%;
	color: rgba(239, 239, 239, 0.80);
	text-decoration: none;
	transition: color 200ms;
}

#h-menu > ul > li > a:hover {
	color: rgba(239, 239, 239, 1);
	transition: color 200ms;
}

#h-menu a.site-current {
	color: white;
	-webkit-text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5), 0 0 0.2em rgba(255, 255, 255, 0.5);
	-moz-text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5), 0 0 0.2em rgba(255, 255, 255, 0.5);
	text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5), 0 0 0.2em rgba(255, 255, 255, 0.5);
}

#h-nav { float: left; }

#h-menu #h-nav li {
	line-height: normal;
	margin-top: 7px;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#h-menu #h-nav li:first-child {
	border-left-width: 0;
}

#h-social { float: right; }
#h-social > li { padding: 0 6px !important; }
#h-social .h-sm { font-size: 18px; }

#h-twitch { padding-top: 1px !important; }

#h-download { color: rgba(255, 200, 0, 0.79) !important; }

@media only screen and (max-width: 879px), only screen and (max-device-width: 879px) {
	.s-network {
		display: none !important;
	}
}

@media only screen and (max-width: 799px), only screen and (max-device-width: 799px) {
	#h-social {
		display: none !important;
	}
}

@media only screen and (max-width: 699px), only screen and (max-device-width: 699px) {
	#h-menu {
		width: 100% !important;
		padding: 0 !important;
	}
}

@media only screen and (max-width: 599px), only screen and (max-device-width: 599px) {
	#h-menu > ul > li {
		padding: 0 8px !important;
	}
	#h-header {
		height: 30px !important;
	}
	#h-menu {
		margin-top: 0 !important;
	}
	#h-logo {
		display: none !important;
	}
}

/* Link Styles
---------------------------------------- */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
a {
	direction: ltr;
	unicode-bidi: embed;
	text-decoration: none;
}

a:hover	{ text-decoration: underline; }


/* invisible skip link, used for accessibility  */
.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

/* Feed icon in forumlist_body.html */
a.feed-icon-forum {
	float: right;
	margin: 3px;
}

a.anchor {
	display: block;
}